@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared style */
.display-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dark {
    color: #252432;
}

.primary-color {
    color: #E95A08;
}

.cart-button {
    padding: 1.18rem 5rem;
    background-color: #E95A08;
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    width: 100%;
}

/* navbar section */
header {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 30px;
}

ul li {
    list-style: none;

}

ul a {
    font-size: 1rem;
    text-decoration: none;
    color: #8987A1;
}

.card-icon {
    gap: 10px;
}

.menu-items {
    gap: 48px;
}

.menu-items ul {
    gap: 48px;
}

/* banner-section */
.banner-section {
    margin: 120px 0px;
    align-items: end;
    width: 100%;
    justify-content: space-between;
}

.banner {
    margin-bottom: 0px;
    width: 50%;
}

.banner-title {
    font-size: 4rem;
    font-weight: bold;
}

.banner-subtitle {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}

.banner-img img {
    width: 100%;
}

/* main section */
main {

    margin: 0 auto;
}

/* plants section */
.plant-section {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

#our-plants {
    text-align: center;
    margin: 0 auto;
}

.plants-description {
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
}

.plant-title {
    font-weight: bold;
    font-size: 3.12rem;
}

.flower-card {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 1.25rem;
    align-items: center;
    text-align: center;

}

.flower-name {
    font-size: 1.37rem;
    font-weight: 500;
    color: #111111;
}

.flower-price {
    font-size: 1.37rem;
    font-weight: bold;
    color: #111111;
}

.flower-description {
    line-height: 0.24rem;
}

.cards img {
    width: 100%;
}

/* plant lover section */
.plant-lover {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

.plant-container {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    gap: 1.4rem;
}

.badge {
    position: absolute;
    top: -100px;
    left: 350px;
    width: 25%;

}

.badge img {
    width: 70%;
}

.plant-title2 {
    font-weight: bold;
    font-size: 3.12rem;
    color: #000000;
    padding-left: 1rem;
    line-height: 3rem;
}

.flower-description {
    margin: 2.3rem 0rem;
}

#plants-description2 li {
    list-style: disc;
    line-height: 2.5rem;
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);

}

.lover-man img {
    width: 100%;
}

/* latest deal section */
.latest-deal-section {
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.latest-container {
    display: flex;
    gap: 1.2rem;
}

.bloom {

    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4)), url("assets/deal-bloom.png");
}

.ana {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4)), url("assets/deal-ana.png");
}

.zabo {

    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4)), url("assets/deal-zabo.png");
}


.left-column {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    flex: 1;
}

.right-column {
    flex: 2;
}

.card {
    position: relative;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 1.3rem;
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card.zabo {
    height: 100%;
}

.text {
    padding: 1.2rem 0rem;
}

.zabo-title {
    font-size: 2.2rem;
    margin-bottom: 0.8rem;
}

.bloom-title {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
}

.zabo-shop-link {
    color: #FFFFFF;
    padding: 5px 12px;
    font-weight: 600;
    font-size: 1.8rem;
}

.bloom-shop-link {
    color: #FFFFFF;
    padding: 5px 12px;
    font-weight: 600;
    font-size: 1rem;
}

/* join section */
.join-section {
    max-width: 1440px;
    margin: 0 auto;
}

.colorful-branch {
    height: 100%;
    background-image: linear-gradient(to top, rgba(7, 51, 79, 0.4)), url(assets/news-letter-bg.png);
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    color: white;
    padding: 200px 300px;
    align-items: center;
    justify-content: center;
    text-align: center;

}


.subscribe {
    display: flex;
    justify-content: center;
    text-align: center;
    text-align: center;
}

.join-title {
    font-size: 3.2rem;
    font-weight: bold;
    color: #FFFFFF;
}

.mail {
    height: 3rem;
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    font-size: 1rem;
    padding-right: 20rem;
    padding-left: 1rem;
}

.sub-button {
    padding: 1rem 3rem;
    background: #ff7200;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
}

/* footer section */
footer {
    max-width: 1140px;
    margin: 0 auto;

}

.website-logo {
    width: 22rem;
}

.footer-section {
    padding: 2rem 0rem;
    display: flex;
    justify-content: space-between;
}

.home-items {
    line-height: 2rem;
}

.features-items {
    line-height: 2rem;
}

.link-items {
    display: flex;
    gap: 1.3rem;

}

/* Mobile responsive */
@media screen and (max-width:576px) {

    /* header */
    .menu-items ul,
    .badge {
        display: none;
    }

    .banner-section {
        flex-direction: column-reverse;

    }

    .banner {
        width: 100%;
    }

    .banner-title {
        font-size: 24px;
        font-weight: bold;
    }

    .flower-card {

        flex-direction: column;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    /* plant lover */
    .plant-container {
        flex-direction: column;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .join-section {}

    .colorful-branch {

        padding: 20px 30px;


    }

    .join-title {
        font-size: 1.2rem;
    }

    /* latest-deal-section */
    .latest-container {
        flex-direction: column;
    }

    /* footer section */
    .footer-section {
        flex-direction: column;
        
        
    }
}